<div class="card shadow-effect">
  <img
    src="/01_post.jpg"
    alt="my kitten not even a year old, ginger, her name is Gwen."
    class="card-img-top"
  />

  <div class="card-body">
    <small class="bg-light text-danger text-center"> Angular </small>
    <small class="bg-light text-success text-center ml-3"> Featured </small>
    <small class="bg-light text-info text-center ml-3"> Views - 0 </small>

    <h5 class="mt-1">Lorem ipsum dolor sit?</h5>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum fuga hic
      placeat reprehenderit magnam non, saepe quidem impedit velit sit
      temporibus in inventore totam aliquam porro, possimus eligendi repellat
      dolore.
    </p>

    <small class="bg-light text-warning text-center">
      LAST UPDATED - Dec 30 20:34
    </small>
  </div>
</div>
