<div class="card shadow-effect">
  <div class="card-body">
    <div class="text-center mt-5 mb-5">
      <h3>SUBSCRIPTION FORM</h3>
      <p class="m-auto subs-text">
        Lorem ipsum dolor sit nobis perferendis veniam earum maxime reiciendis
        dicta id?
      </p>

      <form action="" class="form-inline row mb-5 mt-5 justify-content-center">
        <div class="form-group col-md-4 mb-3 mb-md-0">
          <input
            type="text"
            class="form-control shadow-effect w-100"
            placeholder="Your Name"
          />
        </div>
        <div class="form-group col-md-4 mb-3 mb-md-0">
          <input
            type="email"
            class="form-control shadow-effect w-100"
            placeholder="Your Email"
          />
        </div>
        <div class="col-md-2">
          <button class="btn btn-info btn-block btn-sub w-100">
            SUBSCRIBE
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
